p {
  margin-block-start: 1em;
}


.theme-default-content:not(.custom) {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

// block

// NOT USED

//body.theme-black {
//  background: #02161b;
//  color: #73e1e4;
//  font-weight: 400!important;
//  min-height: 100vh;
//
//  h1,h2,h3,h4,h5,h6 {
//    color: #80e3f3 !important;
//  }
//
//  .content blockquote {
//    background-color: #072531;
//    border-right: #00e7eb 1px solid;
//  }
//
//  .has-background-info {
//    background-color: #062335 !important;
//  }
//
//  code {
//    background-color: #333c44;
//  }
//}